:root {
	--green-bg: #40c945;
	--gray-bg: #f1f1f1;
}

body, html {
	position: relative;
	display: grid;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	grid-auto-rows: 1fr auto;
	align-content: space-between;
	height: 100%;
	width: 100%;
	min-height: 100vh;
    margin: 0;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-variant: small-caps;
}

div {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.content-box {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"] {
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	padding-left: 10px !important;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-variant: small-caps;
}

a {
	text-decoration: none;
	color: inherit;
}

#header, #footer {
	height: 90px;
	background-color: var(--green-bg);
	color: white;
}

#header {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
	padding: 0 2vw;
	font-family: courier;
}

#header-title {
	font-size: 6vw;
}

#header-links {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	grid-column-gap: 3vw;
	width: max-content;
	align-items: center;
	text-align: center;
	font-size: 20px;
}

#header-links div {
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}

#header-links:hover div {
	opacity: .5;
}

#header-links div:hover {
	opacity: 1;
}

#footer {
	display: grid;
	grid-template-columns: auto 1fr auto;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
	margin-top: 50px;
	grid-column-gap: 2vw;
	font-family: courier;
}

#footer-logo-container img {
	height: 80px;
}

#footer-contact {
	text-align: center;
	height: 60px;
	width: 140px;
	background-color: #888;
	padding-top: 20px;
	border-radius: 8px;
	font-size: 120%;
	opacity: .95;
	-webkit-transition: opacity .1s, margin-bottom .1s;
	-moz-transition: opacity .1s, margin-bottom .1s;
	transition: opacity .1s, margin-bottom .1s;
}

#footer-contact:hover {
	opacity: 1;
	margin-bottom: 2px;
}

#progress-container {
	margin: auto;
	margin-top: 50px;
	width: 50%;
	height: 30px;
	background-color: var(--gray-bg);
	border-radius: 15px;
}

#progress-bar {
	width: 10%;
	min-width: 40px;
	height: 30px;
	background-color: var(--green-bg);
	border-radius: 15px;
	padding-top: 5px;
	color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#tab-container {
	width: 80%;
	margin: auto;
	min-width: 500px;
	margin-top: 30px;
	min-width: 250px;
}

.form-tab {
	display: grid;
	grid-template-columns: 1fr;
	padding-bottom: 50px;
}

.validate.invalid {
	background-color: #ed443120;
	border-color: #ed4431;
}

#navigation {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	width: 60%;
	min-width: 500px;
	margin: auto;
}

.nav-button {
	width: 130px;
	height: 55px;
	background-color: var(--green-bg);
	opacity: .9;
	border: 1px solid #d3d3d3;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	font-size: 25px;
	padding-top: 10px;
	cursor: pointer;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	transition: all .1s;
}

.nav-button > span {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.nav-button:hover {
	opacity: 1;
}

#next-button:hover > span {
	padding-left: 15px;
}

#back-button:hover > span {
	padding-right: 15px;
}

.tab-content {
	min-height: 160px;
	background-color: var(--gray-bg);
	border-radius: 20px;
	padding: 30px;
	font-size: 20px;
}

.tab-title {
	color: var(--green-bg);
	font-size: 40px;
	padding: 20px 0 20px 0;
	letter-spacing: 2px;
	word-spacing: 10px;
	min-width: max-content;
	text-align: center;
}

#tab0 label {
	color: var(--green-bg);
	font-size: 18px;
}

#tab0 .tab-content {
	display: grid;
	grid-template-columns: repeat(2, 40%);
	justify-content: space-around;
}

#tab0 select {
	width: 80%;
	min-width: 140px;
	border: none;
	border-bottom: 1px solid var(--green-bg);
	background: none;
	padding-left: 5px;
	font-size: 20px;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-variant: small-caps;
}

#tab0 select:active, #tab0 select:focus {
	outline: none;
}

#tab0 select > option {
	font-size: 15px;
}

#tab0 .tab-content > div > div:last-child {
	margin-top: 15px;
	margin-left: 5%;
}

#tab1 .employee-list, #tab2 .shift-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
	width: 100%;
	margin: auto;
}

#tab1 .employee {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d3d3d350;
	-webkit-transition: border-color .2s;
	-moz-transition: border-color .2s;
	transition: border-color .2s;
}

#tab1 .employee:hover {
	border-color: #d3d3d3;
}

#tab1 .employee-main {
	display: grid;
	grid-template-columns: 5fr 3fr 2fr 1fr;
	grid-column-gap: 30px;
	padding: 10px 20px;
	height: 90px;
}

#tab1 label {
	color: var(--green-bg);
	font-size: 0.8rem;
}

#tab1 .input-field {
	display: grid;
	grid-template-rows: 1fr 2fr;
	height: 100%;
	grid-row-gap: 20px;
}

#tab1 input[type="text"] {
	border: none;
	border-bottom: 1px solid black;
	height: 30px;
	font-size: 18px;
	min-width: 140px;
	width: 100%;
}

#tab1 input[type="text"]:focus {
	outline: none;
	box-shadow: 0px 5px 5px #40c94560;
}

#tab1 select {
	height: 30px;
	border: none;
	border-bottom: 1px solid black;
}

#tab1 select:focus {
	outline: none;
	box-shadow: 0px 0px 5px #40c945;
}

#tab1 .maxhrs {
	display: grid;
	grid-template-columns: 2fr 1fr;
	min-width: max-content;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: start;
}

#tab1 .maxhrs label, #tab1 .maxhrs span {
	display: grid;
	align-items: start;
	padding-top: 2px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	border-radius: 3px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: all .2s;
	transition: all .2s;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: var(--green-bg);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: var(--green-bg);
	cursor: pointer;
}

input[type="range"]:active, input[type="range"]:hover {
	opacity: 1;
}

.delete-button {
	width: 50px;
	height: 50px;
	margin: auto;
	padding-top: 5px;
	text-align: center;
	font-size: 30px;
	color: #ed4431a8;
	cursor: pointer;
	border-radius: 5px;
	border: 1.5px solid #fff0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

.delete-button:hover {
	background-color: #ed443120;
	border-color: #ed4431;
	color: #ed4431;
}

.delete-button::after {
	content: "X";
}

.employee-restrictions {
	width: 100%;
	margin-top: 10px;
	background-color: #d3d3d360;
	height: max-content;
	border-radius: 0 0 5px 5px;
}

#tab1 .restriction-list {
	border: 1px solid #d3d3d3;
	border-top: 2px solid #d3d3d3;
	border-bottom: none;
	padding: 5px;
	text-align: center;
}

.employee-restriction {
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d3d3d320;
	-webkit-transition: border-color .2s;
	-moz-transition: border-color .2s;
	transition: border-color .2s;
}

.employee-restriction:hover {
	border-color: #d3d3d3;
}

.emp-no-work-days-ctn {
	display: grid;
	grid-template-columns: 33% 60%;
	align-items: center;
	grid-column-gap: 1vw;
	justify-content: space-between;
	padding: 5px;
	min-height: 50px;
	font-size: 90%;
}

.emp-days-ctn {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1px;
	grid-column-gap: 1px;
	justify-content: center;
	background-color: #e4e3e3;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}

.emp-days-ctn :first-child {
	border-top-left-radius: 5px;
}

.emp-days-ctn :nth-child(7) {
	border-top-right-radius: 5px;
}

.emp-days-week-day {
	background-color: var(--green-bg);
	color: #fff;
	border-bottom: 2px solid #fff;
}

.emp-other-month {
	background-color: #d3d3d3;
}

.emp-no-work-day {
	background-color: var(--gray-bg);
    user-select: none;
	-webkit-transition: background-color .1s;
	-moz-transition: background-color .1s;
	transition: background-color .1s;
}

.emp-no-work-day:hover {
	background-color: #fff;
}

.emp-no-work-day.selected {
	background-color: #f79e96;
}

#tab1 .new-restriction-btn {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 90%;
	height: 70px;
	margin: auto;
	text-align: center;
	background-color: #fff7;
	border: 1px solid #8880;
	border-radius: 5px;
	color: var(--green-bg);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}

#tab1 .new-restriction-btn > .text {
	grid-column: 1 / 3;
	display: grid;
	background-color: #fff;
	align-items: center;
	border-bottom: 1px solid #8883;
	border-radius: 5px 5px 0 0;
}

#tab1 .employee-restriction-type {
	display: grid;
	align-items: center;
	cursor: pointer;
	transition: all .2s;
}

#tab1 .new-restriction-btn:hover > .text,
 #tab1 .employee-restriction-type:hover {
	background-color: #fff;
	border-color: #d3d3d3;
}

#tab1 .new-restriction-btn:hover {
	border-color: #d3d3d3;
}

.new-employee-btn, .new-shift-btn {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #fff7;
	border: 1px solid #0000;
	border-radius: 5px;
	color: var(--green-bg);
	padding-top: 12px;
	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
}

#tab2 .shift-main {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	width: 100%;
	height: 100%;
	min-height: 100px;
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 5px 5px 0 0;
	align-content: center;
	justify-content: space-between;
}

#tab2 .shift-title {
	font-size: 15px;
	width: 100%;
	color: var(--green-bg);
	margin-bottom: 10px;
}

#tab2 .shift-time {
	display: grid;
	grid-template-columns: 1fr;
	width: max-content;
	grid-row-gap: 5px;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 320px;
}

#tab2 .noUi-connect {
	padding-top: 1px;
	background: var(--green-bg);
}

#tab2 .noUi-horizontal, #tab2 .noUi-handle {
	width: 15px;
    height: 26px;
    top: -8px;
    right: -5px;
    left: auto;
    border-color: #8887;
    cursor: ew-resize;
}

.noUi-connect.noUi-draggable {
	cursor: initial;
}

.noUi-handle:after, .noUi-handle:before {
	display: none;
}

.shift-number-employees {
	display: grid;
	grid-template-columns: 3fr max-content 2fr;
	width: 175px;
	justify-content: left;
	align-items: space-between;
	grid-row-gap: 5px;
	grid-column-gap: 10px;
	margin-right: 30px;
}

.shift-number-employees > .number {
	grid-row: 2 / 4;
	grid-column: 2 / 3;
	position: relative;
	display: inline-grid;
	justify-items: center;
	align-items: center;
	padding-left: 2px;
	top: 8px;
	width: 40px;
	height: 40px;
	border: 1px solid var(--green-bg);
	border-radius: 5px;
}

.shift-number-employees > .number-button {
	grid-column: 3 / 4;
	display: grid;
	align-items: center;
	justify-items: center;
	width: 30px;
	background-color: #40c945ab;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

.shift-number-employees > .number-button:hover {
	background-color: var(--green-bg);
}

.shift-days {
	display: grid;
	grid-template-rows: 25px, repeat(2, 1fr);
	height: 100%;
	font-size: 12px;
	width: max-content;
	align-items: start;
	justify-items: right;
}


.top-days, .bottom-days {
	display: grid;
	justify-items: center;
	justify-content: right;
	width: 380px;
}
.top-days {
	grid-template-columns: repeat(4, 1fr);
}

.bottom-days {
	grid-template-columns: repeat(3, 100px);
	padding-top: 5px;
	margin-right: 30px;
}

.checkbox-container {
	display: grid;
	grid-template-columns: max-content 5px max-content;
	height: max-content;
	width: max-content;
	justify-content: center;
	cursor: pointer;
	align-items: center;
}

.checkbox-container input {
	position: relative;
	height: 0;
	width: 0;
	opacity: 0;
	cursor: pointer;
}

.checkbox-container .checkmark {
	position: relative;
	width: 18px;
	height: 18px;
	border: 1px solid #0000;
	background-color: #8883;
	font-size: 20px;
    text-align: center;
}

.checkbox-container:hover .checkmark {
	background-color: #8885;
}

.checkbox-container input:checked ~ .checkmark {
	background-color: var(--green-bg);
}

.checkbox-container:hover input:checked ~ .checkmark {
	box-shadow: 0 0 18px #8885 inset;
}

.checkbox-container .checkmark::after {
	position: absolute;
	content: "\2713";
	top: -5px;
	left: 2px;
	color: #fff;
	display: none;
}

.checkbox-container input:checked ~ .checkmark::after {
	display: block;
}

.checkbox-container:hover .checkmark::after {
	display: block;
}

#tab2 .shift-restrictions {
	grid-column: 1 / 5;
	width: 100%;
	background-color: #d3d3d360;
	height: max-content;
	border-radius: 0 0 5px 5px;
}

.open-restrictions-btn {
	display: grid;
	grid-template-columns: 1fr 20px;
	width: 100%;
	height: max-content;
	background-color: #d3d3d375;
	cursor: pointer;
	padding-right: 50px;
	font-size: 15px;
	border: 1px solid #d3d3d390;
	border-radius: 0 0 5px 5px;
	align-items: center;
	justify-items: right;
	-webkit-transition: all .3s;
	transition: all .3s
}

.open-restrictions-btn:hover {
	background-color: #d3d3d3;
}

#tab2 .restriction-list {
	border: 1px solid #d3d3d3;
	border-top: 2px solid #d3d3d3;
	border-bottom: none;
	padding-top: 5px;
	text-align: center;
}

#tab2 .shift-restriction {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	padding: 5px 0;
}

#tab2 .new-restriction-btn {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	height: 40px;
	padding: 5px 0;
	border-radius: 5px;
	border: 1px solid #0000;
	text-align: center;
	background-color: #fff7;
	color: var(--green-bg);
	cursor: pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.new-employee-btn:hover, .new-shift-btn:hover, #tab2 .new-restriction-btn:hover {
	background-color: #fff;
	border-color: #d3d3d3;
}

#tab2 .shift-restriction {
	display: grid;
	grid-template-columns: 3fr 1fr 3fr 3fr max-content;
	align-items: center;
	justify-items: space-around;
	padding: 5px 40px;
}

#tab2 .shift-restriction > * {
	margin: auto;
}

#tab2 .shift-restrictions .delete-button {
	width: 30px;
	height: 30px;
	font-size: 20px;
	padding-top: 0;
}


#tab2 .shift-restrictions .shift-number-employees {
	grid-template-columns: 1fr 1fr;
	width: max-content;
}

#tab2 .shift-restrictions .shift-number-employees .number {
	position: relative;
	top: 0; bottom: 0; left: 0; right: 0;
	grid-row: 1 / 3;
	grid-column: 1 / 2;
	margin: auto;
	height: 50%;
	font-size: 70%;
}

#tab2 .shift-restrictions .shift-number-employees .number-button {
	grid-column: 2 / 3;
	font-size: 70%;
	height: 100%;
	width: 80%;
}

#tab2 .shift-restriction select {
	height: max-content;
	width: 80%;
	border: none;
	border-bottom: 1px solid var(--green-bg);
}

#tab2 .restriction-description {
	font-size: 12px;
	color: #999;
	padding-right: 20px;
}

#tab3 .restriction-title {
	color: var(--green-bg);
	font-size: 150%;
	text-align: center;
	border-bottom: 1px solid #8887;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#tab3 .restriction-description {
	color: #888;
	font-size: 90%;
	text-align: center;
	margin-bottom: 20px;
}

#tab3 .calendar-no-work {
	display: grid;
	grid-template-rows: 1fr 30px auto;
}

#tab3 .calendar-title {
	display: grid;
	grid-template-rows: auto auto;
	height: 20vh;
	min-height: 70px;
	background-color: var(--green-bg);
	color: #fff;
	border-radius: 10px 10px 0 0;
	align-items: center;
	justify-items: center;
	max-height: 110px;
}

#tab3 .weekdays {
	display: inline-grid;
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
	grid-column-gap: 1px;
	background-color: #8883;
	border: 1px solid #8883;
}

#tab3 .weekdays > div {
	width: 100%;
	text-align: center;
	background-color: #fff;
}

#tab3 .calendar-content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 1px;
	background-color: #8883;
	border: 1px solid #8883;
}

#tab3 .calendar-content > div {
	display: grid;
	width: 100%;
	height: 12vh;
	background-color: #fff;
	align-items: center;
	min-height: 50px;
	max-height: 80px;
	justify-items: center;
	color: #797978;
	-webkit-transition: background-color .1s;
	-moz-transition: background-color .1s;
	transition: background-color .1s;
}

#tab3 .calendar-content > div:hover {
	background-color: #fff7;
}

#tab3 .calendar-content > div.selected {
	background-color: #f79e96;
}

#tab3 .calendar-content > div.other-month {
	background: none;
}

#tab5 .tab-content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 1px;
	background-color: #8883;
	border: 1px solid #8883;
}

#shuffle-ctn {
	display: grid;
	width: 100%;
	justify-content: right;
}

#shuffle-btn {
	display: grid;
	align-items: center;
	justify-items: center;
	border-radius: 10px;
	cursor: pointer;
	height: 45px;
	width: 100px;
	margin: 5px;
	color: #fff;
	background-color: #ff5050;
	opacity: .5;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}

#shuffle-btn:hover {
	opacity: 1;
}

#tab5 .tab-content > .other-month {
	width: 100%;
	margin-bottom: 20px;
	background-color: #fff3;
}

#tab5 .tab-content > .day {
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	min-height: 100px;
	margin-bottom: 20px;
	border: 1px solid #8883;
}

#tab5 .week-title {
	width: 100%;
	height: 80px;
	background-color: var(--green-bg);
	color: #fff;
	grid-column: 1 / 8;
	text-align: center;
	font-size: 150%;
	padding-top: 30px;
}

#tab5 .weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-column: 1 / 8;
	grid-gap: 1px;
	background-color: #8883;
	border-bottom: 2px solid #8883;
}

#tab5 .weekdays > div {
	background-color: #fff;
	text-align: center;
	width: 100%;
	height: max-content;
	margin-bottom: none;
}

#tab5 .day {
	display: grid;
	justify-content: center;
	align-content: start;
	padding-bottom: 10px;
}

#tab5 .day > div:first-child {
	color: #888;
	font-size: 70%;
}

#tab5 .tab5.shift {
	width: 100%;
	margin: auto;
	margin-top: 5px;
}

#tab5 .tab5.shift > div {
	color: var(--green-bg);
}

#tab5 .day > .shift + .shift {
	border-top: 1px solid var(--green-bg);
	margin-top: 10px;
	padding-top: 10px;
}

#tab5 .day .work-times, #tab5 .day .employee-list {
	font-size: 80%;
	color: initial;
}
